* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6")
    center/cover no-repeat fixed;
}

/* Top Navigation */
.header {
  width: 100%;
  background: #ffffffdf;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 50px;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
}

.logo i {
  margin-right: 8px;
}

.nav a {
  text-decoration: none;
  margin-left: 25px;
  color: #444;
  font-size: 15px;
  transition: 0.3s;
}

.nav a:hover,
.nav a:first-child {
  color: #4a8cff;
}

/* Cards Section */
.container {
  width: 90%;
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box {
  width: 31%;
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.box i {
  font-size: 35px;
  margin-bottom: 15px;
  color: #000;
}

.box h2 {
  margin-bottom: 10px;
  font-size: 22px;
}

.box p {
  line-height: 1.6;
  color: #555;
  font-size: 14px;
}

.box a {
  color: #3d7be0;
  text-decoration: none;
}

@media (max-width: 900px) {
  .box {
    width: 100%;
    margin-bottom: 20px;
  }
}
